<%- include("../partials/header") %>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">TIPS OF THE DAY</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
  <div class="row">
    <!-- //  cuttt wala part pending -->
    <div class="row">
  
      <% stock.forEach(function(eachstock){ %>
        
      <div class="card-deck">
          <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title"> <%= eachstock.StockName %> </h5>

              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
          </div>  
      </div>
    </div>
       <% }) %> 
  </div>
<div class="row">
 <div class="container"> 
  <table id="dtOrderExample" class="table table-striped table-bordered table-sm searchable sortable" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th scope="th-sm">S.No.</th>
        <th scope="th-sm">Exchange</th>
        <th scope="th-sm">Stock Name</th>
        <th scope="th-sm">Product</th>
        <th scope="th-sm">Buy Price</th>
        <th scope="th-sm">Target</th>
        <th scope="th-sm">Stop Loss</th>
        <th scope="th-sm">Comment</th>
      </tr>
    </thead>
    
    <tbody>
      <% var i=1; %>
      <% stock.forEach(function(eachstock){ %>
      <tr>
        <td>i </td>     
        <td><%= eachstock.exchange %></td>
        <td><%= eachstock.StockName %></td>
        <td><%= eachstock.product %></td>
        <td><%= eachstock.BuyPrice %></td>
        <td><%= eachstock.Target %></td>
        <td><%= eachstock.StopLoss %></td>
        <td><%= eachstock.comment %></td>
      </tr>
      <% i++;}) %> 
    </tbody>
    <tfoot>
      <tr>
        <th scope="th-sm">S.No.</th>
        <th scope="th-sm">Exchange</th>
        <th scope="th-sm">Stock Name</th>
        <th scope="th-sm">Product</th>
        <th scope="th-sm">Buy Price</th>
        <th scope="th-sm">Target</th>
        <th scope="th-sm">Stop Loss</th>
        <th scope="th-sm">Comment</th>
      </tr>
    </tfoot>
  </table>
</div>
  </div>
</div>
</div>

<script>
  $(document).ready(function () {
    $('#dtOrderExample').DataTable({
    "order": [[ 3, "desc" ]]
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>
<%- include("../partials/footer") %>  