<%- include("../partials/header") %>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">All Users</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>All users subscriptions dates.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Random button</a>
       
<div class="row">
 <div class ="container">
  <table id="dtOrderExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th scope="th-sm">S.No.</th>
        <th scope="th-sm">Name</th>
        <th scope="th-sm">Email Id</th>
        <th scope="th-sm">Price Paid</th>
        <th scope="th-sm">Subscription<br> Starting date</th>
        <th scope="th-sm">Subscription <br>Ending date</th>
        <th scope="th-sm">FreeTrail <br> Availed</th>
    
      
      </tr>
    </thead>
    
    <tbody>
      <% var i=0; %>
      <% user.forEach(function(eachuser){ %>
      <tr>
        <td><%= i+1 %> </td>     
        <td><%= eachuser.FirstName+" "+eachuser.LastName %></td>
        <td><%= eachuser.EmailId %></td>
        <td><%= eachuser.Subscription.Price %></td>
        <td><%= eachuser.SubscriptionDate.startdate.date +"/"+eachuser.SubscriptionDate.startdate.month+"/"+ eachuser.SubscriptionDate.startdate.year %></td>
        <td><%= eachuser.SubscriptionDate.enddate.date + "/" +eachuser.SubscriptionDate.enddate.month + "/"+ eachuser.SubscriptionDate.enddate.year %></td>
        <td><%= eachuser.freetrial %></td>
       
      </tr>
      <% i++;}) %> 
    </tbody>
    <tfoot>
        <tr>
            <th scope="th-sm">S.No.</th>
            <th scope="th-sm">Name</th>
            <th scope="th-sm">Email Id</th>
            <th scope="th-sm">Price Paid</th>
            <th scope="th-sm">Subscription<br> Starting date</th>
            <th scope="th-sm">Subscription <br>Ending date</th>
            <th scope="th-sm">FreeTrail <br> Availed</th>
        
          
          </tr>
    </tfoot>
  </table>
  </div>
 </div>
</div>

</div>

<script>
  $(document).ready(function () {
    $('#dtOrderExample').DataTable({
    "order": [[ 3, "desc" ]]
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>
<%- include("../partials/footer") %>  