<%- include("../partials/header") %>
<div class="container">
  <div class="row">
    <div class=" col-md-4">
      <div class="card mb-2">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (36).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">Pack 1</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a class="btn btn-primary btn-md btn-rounded" value="1299" href="/paynow1299/<%= user._id %>">Buy @1299</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-2">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (34).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">Pack 2</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a class="btn btn-primary btn-md btn-rounded" value="2299" href="/paynow2299/<%= user._id %>">Buy @2299</a>
        </div>
      </div>
    </div>  
    <div class="col-md-4">
      <div class="card mb-2">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/img (38).jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title font-weight-bold">Pack 3</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a class="btn btn-primary btn-md btn-rounded" value="2899" href="/paynow2899/<%= user._id %>">Buy @2899</a>
        </div>
      </div>
    </div>



  </div>

</div>

<%- include("../partials/footer") %>